@media only screen and (min-width: 769px) {

    .games-list {
        justify-content: flex-start !important;
        flex-basis: auto !important;
    }

}

.games-list {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    /* overflow-y: scroll;
    height: 80vh; */
    gap: 15px;
    width: 100%;
    position: relative;
}