@media only screen and (min-width: 1080px) {

    .games-list {
        justify-content: space-between !important;
        flex-basis: auto !important;
    }

}

.games-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    /* overflow-y: scroll;
    height: 80vh; */
    gap: 20px;
    position: relative;
}