@media only screen and (min-width: 1080px) {

    .game-detail {
        flex-direction: row !important;
        
    }

    .game-detail__about {
        overflow-y: scroll !important;
    }

    .game-detail__img {
        width: 50% !important;
    }

    .game-detail__title {
        margin-top: 0 !important;
    }
}

.game-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    position: relative;
    color: white;
    height: 80vh;
    font-weight: 300;
    
}

.game-detail__about {
    margin-left: 15px;
    
}

.game-detail__title {
    letter-spacing: 2px;
    margin-top: 15px;
}

.game-detail__description {
    letter-spacing: 1px;
}

.detail-info {
    margin-top: 15px;
}

.game-detail__img {
    width: 100%;
    height: 40vh;
}

h3 {
    letter-spacing: 1px;
}