@keyframes spin {
    to {
    -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
    -webkit-transform: rotate(360deg);
    }
}


.spinner-overlay {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-container {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    animation: spin .6s ease-in-out infinite;
    -webkit-animation: spin .6s ease-in-out infinite;
}