/* @media only screen and (min-width: 1201px) {
    .game {
        width: 15% !important;
        height: 320px !important;
    }

    .game-img {
        height: 130px !important;
    }

    .game-title {
        height: 80px !important;
    }
} */

@media only screen and (min-width: 1201px) {

    .game {
        width: 220px !important;
        height: 300px !important;
        margin: 0 !important;
    }

    .game:hover {
        /* box-shadow: 0 0 10px 2px rgba(184, 178, 178, 0.5); */
        cursor: pointer;
        transform: scale(1.07);
        outline: 1px solid lightblue;
    }

    .game-img {
        height: 120px !important;
    }

    .info {
        font-size: 1rem !important;
        display: flex !important;
    }

    .game-title {
        height: 80px !important;
        font-size: 1.35rem !important;
    }

    .text-box {
        display: none !important;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1200px) {

    .game {
        width: 220px !important;
    }

    .info {
        font-size: 1.25rem !important;
    }

    .text-box {
        display: none !important;
    }
}

@media only screen and (min-width: 427px) and (max-width: 768px) {

    .game {
        width: 220px !important;
    }

    .info {
        font-size: 1.25rem !important;
    }

    .text-box {
        display: none !important;
    }
}



.game {
    
    position: relative;
    width: 90%;
    height: auto;
    /* box-shadow: 0 0 12px rgba(0,0,0,0.12); */
    color: rgba(197, 197, 197, 0.8);
    background-image: linear-gradient( rgba(191, 205, 216, 0.4),rgba(136, 145, 153, 0.06));
    text-decoration: none;
    margin: 10px;

    /* position: relative; */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: color 300ms;
    transition: all .3s;
    
}


.game-content {
    padding: 10px;
    position: relative;
}

.text-box {
    color: rgba(197, 197, 197, 0.8);
    font-size: 20px;
    position: absolute;
    border: 3px solid rgba(197, 197, 197, 0.8);
    padding: 10px;
    font-weight: 500;
    white-space: nowrap;
    top: 85%;
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
    text-align: center;
    display: none;
}

.text-box:hover {
    background-color: rgba(191, 205, 216, 0.5);
    color: black;
}


.game:hover .overlay {
    opacity: 1;
}


.info {
    margin-top: 10px;
    font-size: 1.4rem;
    font-style: italic;
    border-top: 1px solid rgba(191, 205, 216, 0.5);
    border-bottom: 1px solid rgba(191, 205, 216, 0.5);
    padding: 2px;
    display: flex;
    justify-content: space-between;
}


.game:hover {
    /* box-shadow: 0 0 10px 2px rgba(184, 178, 178, 0.5); */
    cursor: pointer;
    outline: 1px solid lightblue;
}

.game:hover .info {
}

.game:hover .text-box {
}

.game-title {
    text-align: center;
    position: relative;
    height: 55px;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 500 !important;
    color: rgba(197, 197, 197, 0.9);
    text-shadow: 1px 2px 3px rgb(49, 47, 47);
}

.game-img {
    width: 100%;
    height: 180px;
    max-height: 180px;
    height: auto;
    border-bottom: 1px solid black;
}
