@media only screen and (min-width: 1201px) {
    .header-nav {
        display: flex !important;
    }

    .mobile-nav {
        display: none !important;
    }

    .page-title {
        display: none !important;
    }

    .mobile-nav-link {
        margin-bottom: 15px !important;
    }

    .logo {
        color:  rgb(197, 197, 197);
        margin-top: auto !important;
        display: flex !important;
        position: relative !important;
        align-items: center !important;
        gap: 5px !important;
    }
    
    .logo:hover {
        cursor: pointer !important;
    }
    
    .logo svg {
        width: 50px !important;
        height: 50px !important;
        margin-bottom: -15px !important;
    }
    
    .logo-text {
        margin-top: auto;
    }
}


.header {
    height: 90px;
    width: 100%;
    z-index: 9;
    position: absolute;
}

.header-nav {
    height: 80px;
    width: 100%;
    max-width: 100%;
    align-items: middle;
    margin: 0 auto;
    font-size: 1.25rem;
    display: none;
    justify-content: space-between;
    letter-spacing: 4px;
}

.logo {
    color:  rgb(197, 197, 197);
    display: flex;
    position: absolute;
    align-items: center;
    left: 10px;
    top: 5px;
    gap: 5px;
    margin-top: 10px;
}

.logo:hover {
    cursor: pointer;
}

.logo svg {
    width: 50px;
    height: 30px;
}

.logo-text {
    margin-top: auto;
    display: flex;
    align-items: center;
    height: 30px;
}

.nav {
    display: flex;
    gap: 25px;
    color:  rgb(197, 197, 197);
    list-style: none;
    margin-left: auto;
    margin-right: 20px;
    align-items: center;
}

.nav {
    margin-top: auto;
}

.nav div:hover {
    cursor: pointer;
    transform: scale(1.09);
    color: lightgrey;
}

.active-nav-link {
    border: 4px solid rgb(197, 197, 197);
    padding: 10px;
}

a {
    text-decoration: none;
    color:  rgb(197, 197, 197);
}

.mobile-nav {
    position: fixed;
    background-color: rgba(6, 40, 71, 0.5);
    height: 60px;
    left: 0;
    width: 100vw;
    color: rgba(197, 197, 197, 0.8);
}

.page-title {
    left: 50%;
    position: absolute;
    top: 15px;
    font-size: 2rem;
    transform: translate(-50%, 0);
    color: rgb(120, 140, 170);
}


.mobile-acces {
    top: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: auto; 
    color: rgba(197, 197, 197, 0.8);
    font-size: 3rem;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    z-index: 7;
}

.bar {
    margin-left: 5px;
    width: 35px;
    height: 4px;
    position: absolute;
    background-color: white;
}

.bar:nth-child(2) {
    top: 10px;
}

.bar:nth-child(3) {
    top: 20px;
}

@keyframes topToBottom {
    from {
        transform: translate(100vh);
    }

    to {
        transform: translate(0);
    }
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    right: 0;
    gap: 15px;
    position: absolute;
    top: 0;
    height: 100vh;
    background-color: rgba(1, 14, 26, 0.9);
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    text-align: center;
    animation: topToBottom .3s;
    z-index: 9;
}

.mobile-nav-link {
    border: 3px solid rgba(197, 197, 197, 0.8);
    padding: 10px;
    font-weight: 700;
    margin-bottom: 15px;
}


.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 70px;
    margin-top: 30px;
    margin-left: auto;
    cursor: pointer;
    transition: all .3s ease-in-out;
    z-index: 10;
}

.menu-btn__burger {
    width: 30px;
    height: 4px;
    background: rgba(197, 197, 197, 0.95);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .3s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: rgba(197, 197, 197, 0.95);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .3s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
    margin-top: 5px;
}

.menu-btn__burger::after {
    transform: translateY(16px);
    margin-top: -5px;
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(28px, -39px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(32.5px, 35px);
}