.sort {
    display: flex;
    gap: 5px;
    position: relative;
}

.sort:hover {
    cursor: pointer;
}

.sort:hover .dropdown {
    display: flex;
    width: 100%;
    transition: all .5s ease;
}

.fa-angle-down {
    transform: translateY(3px);
}

