@media only screen and (min-width: 1080px) {
    .title {
        color: rgba(197, 197, 197, 0.9);
        letter-spacing: 5px !important;
        font-size: 6rem !important;
        top: 200px !important;
        left: 100px !important;
        width: auto !important;
    }
    
    /* svg {
        width: 500px !important;
        top: 50vh !important;
    } */
}


.title {
    color: rgba(197, 197, 197, 0.9);
    letter-spacing: 1px;
    font-size: 3.5rem;
    position: absolute;
    top: 10vh;
    width: 100%;
    text-align: center;
}

/* svg {
    width: 200px;
    right: 0;
    position: absolute;
    top: 25vh;
    opacity: 0.4;
} */
